* {
    box-sizing: border-box;
}

body {
    margin: 15px;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    width: 900px;
    background: url("../images/green_dust_scratch_@2X.png");
}

header{
    font-size: 35px;
    background-color: rgb(171,104,24);
    padding: 20px;
    color: antiquewhite;
    width:35%;
}

#title {

}
.instructions {
    width: 60%;
    background: url("../images/purty_wood.png");
    margin-top: 10px;
    font-size: 25px;
    padding: 20px;
    color: rgba(3, 114, 114, 0.911);
    line-height: 1.15;
}

.container {
    position: absolute;
    float: left;
}
.random-number {
    width: 300px;
    height: 120px;
    background-color: rgb(81, 155, 109);
    color: rgb(90, 35, 42);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    float: left;
}
#scoreboard{
    height: 90px;
    width: 100px;
    background-color: rgb(17, 219, 209);
    padding: 5px;
    float: left;
    margin: 5px;
}
#wins {

}
#losses {

}

.crystals {
    margin-top: 135px;
    /* position: relative;
    float: left; */

}
#crystal-1,
#crystal-2,
#crystal-3,
#crystal-4,
#crystal-5 {
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 10px;
}

.running-score {

}
h2 {
    background-color: teal;
    width: 300px;
    padding: 5px;
    margin-top: 150px;
}

#score-counter {
    width: 300px;
    height: 100px;
    background-color: teal;
    margin-top: 5px;
    padding: 5px;
}